<h1 class="text-center mt-3"><%= @courses.count %> courses in the world</h1>

<div class="container d-flex">
  <div class="col-md-4"><%= render "shared/sidebar" %></div>
  <div class="col-md-8"><%= render @courses %></div>
</div>
