<h1 class="text-center mt-3"><%= @trips.count %> trips in the world</h1>

<div class="container d-flex">
  <div class="col-md-4"><%= render "shared/sidebar" %></div>
  <div class="col-md-8"><%= render @trips %></div>
</div>
