<div class="container my-3">
  <h2 class="text-center">Create A New Listing</h2>
  <h4 class="text-center">Center: <%= @center.name %></h4>
  <%= render "form", center: @center, listing: @listing %>
</div>
