// Specific CSS for your home-page
.body-font-color {
  color: #002547;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #657381;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(49, 49, 49);
}

.bg-white-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}

.location-card, .location-card:hover {
  text-decoration: none;
  color: #002547;
}

.location-card-img {
  border-radius: 2px;
  width: 100%;
  height: 50%;
  overflow: hidden;
  object-fit: cover;
}

.interest-card-img {
  border-radius: 2px;
  height: 40%;
  overflow: hidden;
  object-fit: cover;
}

.interest-card {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.interest-card:first-child {
  margin-left: 10px;
}

.interest-card:last-child {
  margin-right: 0px;
}