<div>
  <div class="container">
    <h2>Upcoming</h2>
      <%= render "card", bookings: @bookings %>
  </div>
  <div class="container">
    <h2>Past</h2>
      <%= render "card", bookings: @bookings %>
  </div>
</div>

