<div class="my-3">
  <div class="container">
    <h2>Upcoming</h2>
      <%= render "card", bookings: @bookings.where(status: "booked") %>
  </div>
  <div class="container pr-auto">
    <h2>Past</h2>
      <%= render "card", bookings: @bookings.where(status: "completed") %>
      <%= render "card", bookings: @bookings.where(status: "cancelled") %>
  </div>
</div>
