<h1 class="text-center"><%= @centers.count %> dive centers in the world</h1>

<div class="container d-flex">
  <div class="col-md-4"><%= render "sidebar", centers: @centers %></div>
  <div class="col-md-8"><%= render "card", centers: @centers %></div>
</div>
