<%# <div class="py-4 px-3 my-2 rounded", style="background-color:lightgray; width: 50%"> %>
  <%# <div> %>
<form action="#" class="">
  <div class="d-flex justify-content-center">
    <input class="form-control mb-3" style="width:70%; height:3rem;" id="center_address" type="search" placeholder="the World..." name="location" aria-label="Search" value='<%=params[:location]%>'
    >
    <button class="btn btn-danger" style="width:7rem; height:3rem;" type="submit"><i class="fas fa-search"></i> Search</button>
  </div>
</form>
<%# </div> %>
<%# </div> %>
