<div class="rounded d-flex justify-content-center align-items-center w-full border p-2 mt-2 mb-3" style="height:120px; background-image: url('<%=
image_path "mapsearch.png" %>'); background-repeat:no-repeat; background-size:cover; ">

<%= link_to" GO TO MAP", root_path, class:"rounded bg-white d-flex justify-content-center align-items-center", style:"height:60%; width:60%; text-decoration:none; color:gray;"%></div>
<div class="py-4 px-3 my-2 rounded", style="background-color:lightgray">
  <div>
  <form action="#" class="form-inline">
    <input class="form-control mb-3" style="width:100%; height:3rem;" type="search" placeholder="the World..." name="location" aria-label="Search">
    <button class="btn btn-danger btn-lg btn-block my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
  </form>
</div>
</div>
