<div class="glider-contain">
  <div class="glider">
    <% @interests.each do |interest| %>
      <div class="interest-card">
        <%= image_tag interest['img_url'], class:"interest-card-img", style:"object-fit:cover;", alt: "#{interest['name']}" %>
        <div class="p-3 d-flex flex-column">
          <h5 class="font-weight-bold m-0 py-2"><%= interest['name'] %></h5>
          <p class="text-left m-0"><%= interest['description'] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <button aria-label="Previous" class="glider-prev">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button aria-label="Next" class="glider-next">
    <i class="fa fa-chevron-right"></i>
  </button>
  <div role="tablist" class="dots"></div>
</div>