 <div class="d-flex justify-content-evenly mb-3 flex-wrap">
  <% @locations.each do |location| %>
    <%= link_to centers_path(location: location) do %>
      <div class="text-white mx-2 location-card mb-3">
        <%= image_tag "https://source.unsplash.com/1920x1080/?diving #{location}", class: "card-img", alt: "#{location.capitalize}" %>
        <div class="card-img-overlay">
          <h4 class="card-title text-shadow"><strong><%= location %></strong></h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
