 <div class="d-flex justify-content-evenly mb-3 flex-wrap">
  <% @interests.each do |interest| %>
    <div class="text-white mx-2 location-card mb-3">
      <%= image_tag interest['img_url'], class: "card-img", alt: "#{interest['name'].capitalize}" %>
      <div class="card-img-overlay">
        <h4 class="card-title text-shadow"><strong><%= interest['name'] %></strong></h4>
      </div>
    </div>
  <% end %>
</div>
