<div class="jumbotron jumbotron-fluid home-page-banner">
  <div class="container text-white text-center">
    <h1 class="display-4">Book your diving worldwide</h1>
    <p class="lead">The form will be here when @centers is created</p>
  </div>
  <div>
    <div class="shop-bar">
      <%= link_to "Centers", "#", class: "shop" %>
      <%= link_to "Trips", "#", class: "shop" %>
      <%= link_to "Courses", "#", class: "shop" %>
    </div>
  </div>
</div>
