
<div class="jumbotron jumbotron-fluid home-page-banner">
  <div class="container text-white text-center">
    <h1 class="display-4">Book your diving worldwide</h1>
    <p class="lead">The form will be here when @centers is created</p>
  </div>
  <div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Centers</button>
      <button type="button" class="btn btn-secondary">Trips</button>
      <button type="button" class="btn btn-secondary">Courses</button>
    </div>
  </div>
</div>