.shop-bar {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  bottom: -10%;
  height: 88px;
  left: 50%;
  transform: translate(-50%, 0);
}

.shop {
  background-color: #ffffff;
  color: #64717f;
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.shop:hover {
  background-color: #ebf5fc;
  color: #64717f;
  text-decoration: none;
}
