// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import 'node_modules/select2/dist/css/select2.css';

// Your CSS partials
@import "components/index";
@import "components/image-banner";
@import "components/map";
@import "pages/index";

html {
  scroll-behavior: smooth;
}

.fill-div {
  min-height: 83.45vh;
}

h4 {
  font-family: "Arial";
}

.geocoder {
  width: 70%;
  left: 50%;
  top: 10px;
  margin-bottom: 20px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

#navbarSupportedContent .active {
  color:            #FFFFFF;
  background-color: #4f81bd;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
}